
/*  =============== 
    ==== FONTS ====
    ===============
*/

@font-face {
    font-family: mainFont;
    src: url("../fonts/SourceCodePro-Regular.otf");
}

/*  ============== 
    ==== BODY ====
    ==============
*/

html {
    height: 100%;
}

body {
    height: calc(100% - 120px);
    /*background-color: #51575C;*/
    background-color: #f0f0f0;
    margin: 120px 0 0 0;
    padding: 0;
}

p {
    font-family: mainFont;
}

.error {
    color: #e60000;
}

p.info {
    color: #444;
}

/*  ================ 
    ==== HEADER ====
    ================
*/

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    background-color: #333;
    background-image: url("../images/header_texture.jpg");
    box-shadow: 0px 0px 8px #222222;
    z-index: 100;
}

.max {
    height: 100%;
    position: relative;
    margin: 0 auto;
    max-width: 1000px;
}

header #logo {
    position: absolute;
    left: 50%;
    margin-left: -50px;
    text-indent: 1000px;
    overflow: hidden;
    display: block;
    height: 100px;
    width: 100px;
    background: url("../images/snappy_logo_small.png") no-repeat;
    transition: background 0.3s ease 0s;
}

header #logo:hover {
    background: url("../images/snappy_logo_orange_small.png") no-repeat;
    transition: background 0.3s ease 0s;
}

header .nav {
    position: absolute;
    height: 50px;
    margin-top: 25px;

    font-family: mainFont;
    font-size: 30px;
    color: white;
}

header .nav a {
    color: white;
}

header .nav a:link {
    text-decoration: none;
}

header .nav a:visited {
    text-decoration: none;
}

header .nav a:hover {
    color: #df6c20;
    text-decoration: none;
    transition: color 0.3s ease 0s;
}

header .nav a:active {
    text-decoration: none;
}

header #left_nav {
    left: 0;
}

header #right_nav {
    right: 0;
    text-align: right;
}

header #open-notify-dialog {
    position: absolute;
    display: inline-block;
    background: url("../images/notification.png") no-repeat;
    margin-top: -4px;
    right: 200px;
    width: 30px;
    height: 30px;
}

#logged_in_info {
    font-size: 18px;
}

/*  ================= 
    ==== CONTENT ====
    =================
*/

#content {
    height: 100%;
}

@media screen and (max-width: 1020px) {
    #content {
        width: calc(100% - 20px);
        margin: 0 10px;
    }
}

/*  =============== 
    ==== FORMS ====
    ===============
*/

form label {
    font-family: mainFont;
    display: block;
    margin-bottom: 10px;
    font-size: 30px;
}

form input {
    font-family: mainFont;
}

form input[type="text"] {
    font-size: 20px;
}

form textarea {
    font-family: mainFont;
    font-size: 20px;
    width: 100%;
}

form input[type="submit"] {
    box-shadow: 0px 0px 8px #222222;
    border: 0;
    padding: 10px;
    background-color: #333;
    font-size: 20px;
    color: white;
}

form input[type="submit"]:hover {
    box-shadow: 0px 0px 8px #d26f2d;
    cursor: pointer;
    background-color: #df6c20;
    transition: background-color 0.3s ease 0s, box-shadow 0.3s ease 0s;
}

/**/

#note-overlay {
    position: fixed;
    top: 100px;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    opacity: 0.5;
    z-index: 97;
    transition: all 0.3s ease 0s;
}

#note-overlay.hidden {
    display: none;
    opacity: 0;
    transition: all 0.3s ease 0s;
}

#note-panel {
    position: fixed;
    left: calc(50% - 300px);
    width:600px;
    height: 400px;
    margin: 10px;
    color: #EEE;
    font-family: mainFont;
    background: #222;
    z-index: 98;
    transition: right 0.3s ease 0s;
}

#note-panel.hidden {
    display: none;
}

#note-panel p {
    color: white;
}
