#chat-content {
    height: calc(100% - 50px);
    background: white;
    border-bottom: 1px solid black;
}

#chat-input-form {
    display: block;
    position: relative;
    height: 30px;
}

#chat-input-form #chat-input {
    position: absolute;
    top: 0;
    left: 0;
    height: 28px;
    width: calc(100% - 70px);
    line-height: 20px;
    font-size: 20px;
    border: 0;
}

#chat-input-form input[type="submit"] {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    margin: 0;
    height: 30px;
    width: 70px;
    border: 0;
    font-size: 20px;
}
