#chat-content {
    overflow: auto;
    padding: 10px;
    height: calc(100% - 100px);
    background: #CCC;
    border-bottom: 1px solid black;
    color: #222;
    font-size: 20px;
}

#chat-content p {
    margin-top: 5px;
    margin-bottom: 0px;
}

#chat-content span {
    font-weight: bold;
}

#chat-content .meta {
    font-size: 15px;
    font-style: italic;
    color: #444;
}

#chat-content .asker {
    color: #a54a0d;
}

#chat-input-form {
    display: block;
    position: relative;
    height: 30px;
}

#chat-input-form #chat-input {
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    width: calc(100% - 61px);
    line-height: 20px;
    font-size: 20px;
    border: 0;
    background: #CCC;
    padding-right: 60px;
}

#chat-input-form input[type="submit"] {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    height: 70px;
    border: 0;
    font-size: 40px;
    color: #222;

    box-shadow: none;
    background-color: transparent;
    line-height: 30px;
    margin-top: -14px;
    width: 60px;
}
