<!DOCTYPE html>

<html>

    <head>

        <title>SnappyFix</title>

        <link rel="shortcut icon" href="{{ reverse_url('favicon', 'favicon.ico') }}">

        <link rel="stylesheet" type="text/css" href="{{ reverse_url('static', 'css/main.css') }}">
        {% block head %}{% end %}

    </head>

    <body>

        <header>

            <div class="max">

                <a href="{{ reverse_url('main') }}" id="logo">SnappyFix</a>

                <!-- Left aligned -->
                <nav class="nav" id="left_nav">
                    <a href="{{ reverse_url('main') }}">SnappyFix</a>
                </nav>

                <!-- Right alligned -->
                <nav class="nav" id="right_nav">
                    {% if session['logged_in'] %}
                        Welcome, {{ session['nickname'] }}!
                        <a href="{{ reverse_url('login') }}?lo=1">Logout</a>
                    {% else %}
                        <a href="{{ reverse_url('login') }}">Login</a>
                    {% end %}
                </nav>

            </div>

        </header>

        <section id="content">

            <div class="max">
                {% block content %}{% end %}
            </div>

        </section>

        {% block end_body %}{% end %}

    </body>

</html>
