<!DOCTYPE html>

<html>

    <head>

        <title>helpmio</title>

        <link rel="stylesheet" type="text/css" href="{{ reverse_url('static', 'css/main.css') }}">

    </head>

    <body>

        <header>

            <div id="max">

                <a href="#home" id="logo">helpmio</a>

                <!-- Left aligned -->
                <nav class="nav" id="left_nav">
                    helpmio

                </nav>

                <!-- Right alligned -->
                <nav class="nav" id="right_nav">
                    <a href="#login">login</a>
                     / 
                    <a href="#signup">signup</a>
                </nav>

            </div>

        </header>

        <section id="content-container">

            <div id="sidebar">

            </div>

            <div id="content">
                {% block content %}{% end %}
            </div>

        </section>

    </body>

</html>
