{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ reverse_url('static', 'css/question_list.css') }}">
{% end %}

{% block content %}
    {% if session['logged_in'] %}
        <div id="new-question-wrapper">
            <a href="{{ reverse_url('new_question') }}">New Question</a>
        </div>
    {% end %}
    <h1>Questions</h1>
        {% if questions %}
        <ul id="question-list">
            {% for question in questions %}
                <li class="question">
                    <h2><a href="{{ reverse_url('question', question.get_qid()) }}">{{ question.get_title() }}</a> - Asked by {{ question.get_chatroom().get_asker_name() }}</h2>
                    <p>{{ question.get_truncated_description() }}</p>
                </li>
            {% end %}
        </ul>
        {% else %}
            <p class="error">No active questions</p>
        {% end %}
{% end %}
