{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ reverse_url('static', 'css/question.css') }}">
{% end %}

{% block content %}
    <div id="chat-content">
        <p class="meta"><span>Title: </span>{{ question.get_title() }}</p>
        <p class="meta"><span>Description: </span>{{ question.get_description() }}</p>
    </div>
    <form id="chat-input-form">
        {% if not question.get_is_resolved() %}
            <input type="text" id="chat-input" autocomplete="off" {% if not session['logged_in'] %}disabled{% end %}>
            <input type="submit" value="&#X27A4;" {% if not session['logged_in'] %}disabled{% end %}>
        {% else %}
            This issue has been resolved.
        {% end %}
    </form>
{% end %}

{% block end_body %}
    <a href="#" id="info-button">i</a>
    <div id="info-overlay" class="hidden"></div>
    <div id="info-panel" class="hidden">
        {% if not question.get_is_resolved() %}
            <p id="info-button-wrappers">
                {% if session['nickname'] == question.get_chatroom().get_asker_name() %}
                    <a href="#" class="resolve">Resolve</a>
                {% else %}
                    {% if question.get_qid() in session['watched'] %}
                        <a href="#" class="unwatch">Unwatch</a>
                        <a href="#" class="watch hidden">Watch</a>
                    {% else %}
                        <a href="#" class="unwatch hidden">Unwatch</a>
                        <a href="#" class="watch">Watch</a>
                    {% end %}
                {% end %}
            </p>
        {% end %}
        <h2>Connected Users</h2>
        <ul id="connected-users"></ul>
    </div>

    <script>
        var socket_url_path = "{{ reverse_url('question_websocket', question.get_qid()) }}";
    </script>
    <script src="{{ reverse_url('static', 'js/question.js') }}"></script>
{% end %}
