{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ reverse_url('static', 'css/questions.css') }}">
{% end %}

{% block content %}
    <div id="new-question-wrapper">
        <a href="{{ reverse_url('new_question') }}">New Question</a>
    </div>
    <h1>Questions</h1>
    <ul id="question-list">
        {% for question in questions %}
            <li class="question">
                <h2><a href="{{ reverse_url('question', question.get_qid()) }}">{{ question.get_title() }}</a></h2>
                <p>{{ question.get_description() }}</p>
            </li>
        {% end %}
    </ul>
{% end %}
