{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ reverse_url('static', 'css/question.css') }}">
{% end %}

{% block content %}
    <pre id="chat-content"></pre>
    <form id="chat-input-form">
        <input type="text" id="chat-input" {% if not session['logged_in'] %}disabled{% end %}>
        <input type="submit" value="Send" {% if not session['logged_in'] %}disabled{% end %}>
    </form>
{% end %}

{% block end_body %}
    <script>
        var socket_url_path = "{{ reverse_url('question_websocket', qid) }}";
    </script>
    <script src="{{ reverse_url('static', 'js/question.js') }}"></script>
{% end %}
